body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  #calendar {
    flex: 1 1 auto;
  }
  body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fafafa;
  }
  .fc-event.event-esgt {
    background-color: #4CAF50 !important;
    border: 1px solid #2e7d32;
    color: white;
  }
  
  .fc-event.event-univ {
    background-color: #2196F3 !important;
    border: 1px solid #1565c0;
    color: white;
  }
  .calendar-controls label {
    margin: 0 10px;
    font-weight: 600;
    font-size: 0.95rem;
  }
  